
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
}
html{

    scroll-behavior: smooth;
    overflow-x: hidden;
}

.container{

    padding: 0 100px 0 100px;
    

}




.Rmenu{

    display: none;
}

.liste .liste_ul,
.liste_ul-lien,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

}

body{
    background-color: #252627;
}

header{

    display: flex;

    justify-content: space-between;

    padding: 5px;
    
    

}


.navbar{
    background-color: #181818;
   
    
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.liste_ul-lien,
.contact h1 {

    color: #707070;
}

.lgo{

    margin-top: 20px;


}



li {
    margin: 30px;
}



.liste_ul-lien ,
 .show_ul-lien{
   text-decoration: none;
   color: #707070;
   font-size: .9rem ;
   text-transform: uppercase;
   position: relative;
   transition: .5s all ease;
 

}

.liste_ul-lien:hover{
    color: salmon;
     font-size: 1rem;
}



.main-info-section {
   
display: grid;
grid-template-columns: repeat(2,40%);
grid-template-rows:  repeat(1);
grid-template-areas: "text profile-image";




  


                     
}
.text{
    margin-top:120px ;
    grid-area: text;

}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {

    display: inline-block;
    
}

span:hover {
    color: #48CFAD ;
    transition:  all .5s;
}

span.name {
    color: #ed5565;
}


span.m-left {

    margin-left: -10;
}

.text p {

    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;

}

.text a {

    padding:  12px 25px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: 1.5s all ease;
    display: inline-block;
    text-decoration:none;
    
}

.text a:hover {
    color: #fff;
    
   
   
}

.text a::before{

    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 10px;
    z-index: -1;
    transition: 2s all ease;
}


.text a:hover::before {
   
    background-color: #ed5565;
 height:100%;
}

.profile-image {
    
    grid-area: profile-image;
    margin-left: 100px;
  

}

.profile-image img{

height: 65vh;
margin-top:20px;



}


/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::about me */
.about {

    height: 100vh;
    margin-top: 100px;

}

.about h1,
.work h1{
    font-size:10rem ;
    z-index: 0;
    opacity: .1;

}

.about-me-info {

    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0, 0,.25);
    padding: 50px;
    position: relative;
    border-radius: 5px;
    top: -70px;
    left:  50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;

}


.about-me-info p{

    font-size: 1.3rem;
    color: #BEBEBE;
 
}


.about-me-info p:nth-child(2),
.about-me-info p:last-child
                             {

    margin-top: 30px;
}


.about img {
/* 
    width: 300px;
    position: relative;
    top: -250px;
    left: calc(81% - 100px);
    right: calc(80% - 100px);
    transform: translateX(-100% + 100px); */

 
    width: 300px;
    position: relative;
    left:  70%;
    right: 30%;
    transform: translateX(-50%);
    transform: translateY(-80%);
    
}



/*:::::::::::::::::::::::::::::::::::::::::::::::::skills*/
.skills h1,
.contact h1 {

    text-align: right;
    font-size: 10rem;
    opacity: .1;

}

.skills-info {

    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;

}

.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:40px;
    
}
div[class^='tag-'] {

    clip-path: polygon(75% 0%,100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-left: 30px;

}

div[class^='tag-'] p {

    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;

}

.progressbar {
     
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48CFAD;
    border-radius:20px;
    margin-top: 7px;
   
}


div[class^='bar-'] {

    position: absolute;
    background-color: #48CFAD;
    height: 10px;
    border-radius: 20px;
    margin: 3px;
    /* width: calc(0*calc(100%/100)); */
   
   
}

.bar-html{
    width: 90%;
    animation: bar-html 7s;
}
.bar-css{
    width: 70%;
    animation: bar-css 7s;

}
.bar-javascript{
    width: 50%;
    animation: bar-javascript 7s;

}
.bar-design{

    width: 60%;
    animation: bar-design 7s;
    
}




@keyframes bar-html{

    0%{
        width:0%;
    }

    50%{

        width:30%;
    }

    100%{
        width: 90%;
    }
}
@keyframes bar-css{

    0%{
        width:0%;
    }

    50%{

        width:20%;
    }

    100%{
        width: 70%;
    }
}
@keyframes bar-javascript{

    0%{
        width:0%;
    }

    50%{

        width:10%;
    }

    100%{
        width: 50%;
    }
}
@keyframes bar-design{

    0%{
        width:0%;
    }

    50%{

        width:2%;
    }

    100%{
        width: 60%;
    }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Work*/
.work-category button {

    text-transform: capitalize;
    border: 3px solid #ed5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
    

}

.work-category .active{

    background-color: #ed5565;
    

}



button.active {

    color: #fff;
    
}




div[class^='category-']{

   
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}


.work a {
    justify-self: center;
    position: relative;
    display: inline-block;

}



.work a img {

    width: 350px;
    justify-self: center;

}

div.hideCategory{

    display: none;
}



.wdt {
   width: 10%;
  }




/*::::::::::::::::::::::::::::::::::::::::::footer*/




form input,
form textarea {

    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0; 
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}


form input:last-child {

    width: 150px;
    background-color: #252627;
    border: none;
    cursor: pointer;
    border: 3px solid #ed5565;
    border-radius:50px ;
    transition: .5s all ease;
    display: block;
    margin:10 auto;
}

form input:last-child:hover{
    color: #BEBEBE;
    background-color: #ed5565;
}

footer hr {

    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {

    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}



@media only screen and (max-width:991px){

    .lgo{

        font-size: 15px;
     }  


     header{
        padding: 5px;
     }
.navbar .liste_ul{
    display: none;


}

.hide {
    display: block;
    position: relative;
    top: 30%;
    left: 50%;
}




.Rmenu{
    display: block;
    background-color:  #181818;
    z-index: 100;
    position: absolute;
    left: 50%;
    border-radius: 10px;
    width: 40%;
    height: 50%;
    padding: 30px;
    padding-left: 5%;
    margin-top:0.5%;
    
   
}
.show_ul-lien{

    letter-spacing: 4px;
}


.show_ul-lien:hover{
    color: salmon;
    font-size: 1rem;  
}
.bar1, .bar2, .bar3 {
    width:35px;
    height: 3px;
    background-color: gray;
    margin: 7.6px 0;
    transition: 0.4s;
   
    
  }

  .contain{
  margin-top: 25px;
  }

  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .hide{
    display: none;
}
  
  .navbar{
    height: 10vh;
}

.liste_ul-lien{

    background-color:#181818;
    text-decoration: none;
    font-size: .9rem ;
    text-transform: uppercase;
    position: relative;
    transition: .5s all ease;
  
 
 }
 
 .liste_ul-lien:hover{
     color: salmon;
     font-size: 1rem;
 }



 .main-info-section {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column-reverse;
  
/* display: grid;
grid-template-columns: repeat(1,40%);
grid-template-rows:  repeat(2);
grid-template-areas: " profile-image"
                      " text";


  justify-content: space-between ;

  grid-gap: 10px; */

                     
}


.profile-image{
    margin:auto;
}

.btn{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

 
.about-me-info{
    margin-top:5% ;
}

 .text h1,
 .text p{
     text-align: center;
 } 
  .m-left{
     font-size:33px;

 }
 .spn{

    font-size: 43px;
 }

 .about h1{

    font-size: 130px ;
    text-align: center;
    
    
 }
 .about p{

    font-size: 20px ;
   
    
 }

 .about img{
    width:200px;
    left:  77%;
    right: 40%;
  
    transform: translateY(-90%);
   
 }

 .skills h1{
    font-size: 130px ;
    text-align: center;
   
    
 }
 .skills p{
    font-size: 20px ;
 }

 .work h1{
    font-size: 130px ;
    text-align: center;
 }

 .work p{
    font-size: 20px ;
 }

 form input,
 form textarea {
 
     display: block;
     width: 400px;
     padding: 20px;
     background-color: #252627;
     border: 3px solid #707070;
     margin: 20px 0; 
     outline: none;
     font-size: 1.2rem;
     color: #fff;
     position: relative;
     left: 50%;
     right: 50%;
     transform: translateX(-50%);
 }

 .contact h1{
 text-align: center;
 font-size: 130px ;


    
}
}


@media only screen and (max-width:950px){

    .work-category button{
        font-size:15px;
    }

    div[class^='category-']{

   
        margin-top: 50px;
        margin-left: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: 1fr 1fr ;
       
      
    }
    div[class^='category-'] a img{

        width: 100% ;
      
    }

    .work a {

        justify-self: center;
        position: relative;
        display: block;
       
    
    }
    
    
    
    .work a img {
    
        width: 350px;
        justify-self: center;
    
    }
    
    div.hideCategory{
    
        display: none;
    }
    
    .screen{
        display: block;
        margin:0 auto;
    }
    
   
}

@media only screen and (max-width:750px){

   .skl{
       margin-top: 30%;
   }

   .work-category button{

    margin: 5%;
    
   }

}



@media only screen and (max-width:584px){

     .Rmenu{

         width:60%;
         position: absolute;
         left: 20%;
         height: 48%;

     }

     .skl{
        margin-top: 15%;
    }
    .show_ul-lien{

        font-size:12px ;
    }

.lgo{

   font-size: 10px;
} 

.navbar{
    height: 10vh;
}

.m-left{
    font-size:25px;

}
.spn{

   font-size: 23px;
}

.profile-image img{
   
    height: 400px;

}

 
.about h1{
    font-size: 100px ;
    text-align: center;
 }

.about-me-info{
    margin-top:10%;
}
.about p{

    font-size: 15px ; 
    
 }


 .about img{
    width:160px;
    left:  65%;
    right: 40%;
    transform: translateY(-90%);
   
 }

 .skills h1{
    font-size: 100px ;
    text-align: center;
    
 }
 .skills p{
    font-size: 15px ;
 }

 .work h1{
    font-size: 100px ;
    text-align: center;
 }

 .work p{
    font-size: 15px ;
 }

 .work-category button{
    font-size:10px;
}


.contact h1{

    font-size: 100px ;
    text-align: center;

 }

 
}




@media only screen and (max-width:510px){
    
    .skl{
        margin-top:60%;
    }

    .text h1{
 
     font-size: 20px;
    }
    .contact h1{
        text-align: center;
    
       
       
           
       }
     
}




/*:::::::::::::::::::::::::::: page Login::::::::::::::::::*/


.login{

text-align: center;
font-size:10rem ;
opacity: .1;
    
}

.sub{

    display: block;
    margin: 1 auto;
}


.small{
    margin-left: 44%;
    font-size:15px;
    color:#aa0000;
}



.box{

   display: flex;
   justify-content: space-evenly;
   margin-top: 5%;
 
}
.box a{
    text-decoration: none;
    font-size: 30px ;
    color: #ed5565;
    transition: 1s ease ;
  
}
.box a:hover{
    font-size: 32px ;
    color: gray;

  
}



.showbtn{
    text-transform: capitalize;
    border: 3px solid #ed5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
    transform: translateY(40%);
    transform: translateX(160%);
    margin-top:5%;
    transition: 1s ease;


}


.showbtn:hover{
    background-color: #ed5565;
    color: white;
}



.hd{
    display:none;
}




.select-css {
    display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 35%;
    max-width: 100%; /* useful when width is set to anything other than 100% */
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    /* note: bg image below uses 2 urls. The first is an svg data uri for the arrow icon, and the second is the gradient. 
        for the icon, if you want to change the color, be sure to use `%23` instead of `#`, since it's a url. You can also swap in a different svg icon or an external image reference
        
    */
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    /* arrow icon position (1em from the right, 50% vertical) , then gradient position*/
    background-position: right .7em top 50%, 0 0;
    /* icon size, then gradient */
    background-size: .65em auto, 100%;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
    display: none;
}
/* Hover style */
.select-css:hover {
    border-color: #888;
}
/* Focus style */
.select-css:focus {
    border-color: #aaa;
    /* It'd be nice to use -webkit-focus-ring-color here but it doesn't work on box-shadow */
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}

/* Set options to normal weight */
.select-css option {
    font-weight:normal;
}

/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
    background-position: left .7em top 50%, 0 0;
    padding: .6em .8em .5em 1.4em;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
    color: graytext;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}

.select-css:disabled:hover, .select-css[aria-disabled=true] {
    border-color: #aaa;
}





.back{
    
    text-decoration: none;
    color: #ed5565 ;

}