*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
    list-style: none;
}
html{

    scroll-behavior: smooth;
}

.container{

    padding: 0 100px 0 100px;
    

}

nav ul,
.main-info-section,
.work-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

body{
    background-color: #252627;
}

header{

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    

}


.navbar{
    background-color: #181818;
   
    
}

header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {

    color: #707070;
}

.lgo{

    margin-top: 20px;
}



li {
    margin: 30px;
}



a{
   text-decoration: none;
   font-size: .9rem ;
   text-transform: uppercase;
   position: relative;
   transition: .5s all ease;
 

}

a:hover{
    color: salmon;
    font-size: 1rem;
}

.main-info-section {
    height: calc(100vh - 81.6px);

}
.text{
    margin-top:120px ;

}

.text h1 {
    color: #fff;
    font-size: 3rem;
    cursor: context-menu;
}

.text span {

    display: inline-block;
}

span:hover {
    color: #48CFAD ;
    transition:  all .5s;
}

span.name {
    color: #ed5565;
}


span.m-left {

    margin-left: -10;
}

.text p {

    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: .8rem;

}

.text a {

    padding:  12px 25px;
    background-color: none;
    border: 3px solid #ed5565;
    color: #ed5565;
    font-size: .8rem;
    letter-spacing: 2px;
    position: relative;
    top: 80px;
    overflow: hidden;
    transition: 1.5s all ease;
    display: inline-block;
    
}

.text a:hover {
    color: #fff;
   
}

.text a::before{

    content: '';
    background-color: #ed5565;
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 10px;
    z-index: -1;
    transition: 2s all ease;
}


.text a:hover::before {
   
    background-color: #ed5565;
    height: 100%;
}

.profile-image img{
height: 70vh;
width: 85%;
margin-left: 22%;
}



/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::about me */
.about {

    height: 100vh;
    margin-top: 100px;

}

.about h1,
.work h1{
    font-size:10rem ;
    z-index: 0;
    opacity: .1;

}

.about-me-info {

    max-width: 900px;
    background-color: #252627;
    box-shadow: 0 0 1.2rem rgba(0,0, 0,.25);
    padding: 50px;
    position: relative;
    border-radius: 5px;
    top: -70px;
    left:  50%;
    right: 50%;
    transform: translateX(-50%);
    z-index: 1;

}


.about-me-info p{

    font-size: 1.3rem;
    color: #BEBEBE;
 
}


.about-me-info p:nth-child(2),
.about-me-info p:last-child
                             {

    margin-top: 30px;
}


.about img {

    width: 300px;
    position: relative;
    top: -250px;
    left: calc(81% - 100px);
    right: calc(80% - 100px);
    transform: translateX(-100% + 100px);
}



/*:::::::::::::::::::::::::::::::::::::::::::::::::skills*/
.skills h1,
.contact h1 {

    text-align: right;
    font-size: 10rem;
    opacity: .1;

}

.skills-info {

    font-size: 1.4rem;
    color: #BEBEBE;
    max-width: 800px;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;

}

.html{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom:40px;
    
}
div[class^='tag-'] {

    clip-path: polygon(75% 0%,100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 120px;
    height: 30px;
    background-color: #1785A7;
    margin-left: 30px;

}

div[class^='tag-'] p {

    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;

}

.progressbar {
     
    position: relative;
    width: 600px;
    height: 20px;
    border: 2px solid #48CFAD;
    border-radius:20px;
    margin-top: 7px;
   
}


div[class^='bar-'] {

    position: absolute;
    background-color: #48CFAD;
    height: 10px;
    border-radius: 20px;
    margin: 3px;
    /* width: calc(0*calc(100%/100)); */
   
   
}

.bar-html{
    width: 90%;
    animation: bar-html 7s;
}
.bar-css{
    width: 70%;
    animation: bar-css 7s;

}
.bar-javascript{
    width: 50%;
    animation: bar-javascript 7s;

}
.bar-design{

    width: 60%;
    animation: bar-design 7s;
    
}




@keyframes bar-html{

    0%{
        width:0%;
    }

    50%{

        width:30%;
    }

    100%{
        width: 90%;
    }
}
@keyframes bar-css{

    0%{
        width:0%;
    }

    50%{

        width:20%;
    }

    100%{
        width: 70%;
    }
}
@keyframes bar-javascript{

    0%{
        width:0%;
    }

    50%{

        width:10%;
    }

    100%{
        width: 50%;
    }
}
@keyframes bar-design{

    0%{
        width:0%;
    }

    50%{

        width:2%;
    }

    100%{
        width: 60%;
    }
}

/*:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::Work*/
.work-category button {

    text-transform: capitalize;
    border: 3px solid #ed5565;
    padding: 15px 30px;
    border-radius: 50px;
    color: #ed5565;
    font-size: 1.1rem;
    letter-spacing: 1px;
    background-color: #252627;
    outline: none;
    cursor: pointer;
    

}

.work-category .active{

    background-color: #ed5565;
    

}



button.active {

    color: #fff;
    
}




div[class^='category-']{

   
    margin-top: 50px;
    margin-left: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    grid-template-rows: 1fr 1fr;

    grid-gap: 20px;
}


.work a {
    justify-self: center;
    position: relative;
    display: inline-block;

}



.work a img {

    width: 350px;
    justify-self: center;

}

div.hideCategory{

    display: none;
}








/*::::::::::::::::::::::::::::::::::::::::::footer*/

form input,
form textarea {

    display: block;
    width: 500px;
    padding: 20px;
    background-color: #252627;
    border: 3px solid #707070;
    margin: 20px 0; 
    outline: none;
    font-size: 1.2rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}


form input:last-child {

    width: 150px;
    background-color: #252627;
    border: none;
    cursor: pointer;
    border: 3px solid #ed5565;
    border-radius:50px ;
    transition: .5s all ease;
}

form input:last-child:hover{
    color: #BEBEBE;
    background-color: #ed5565;
}

footer hr {

    border: 2px solid #707070;
    margin-top: 80px;
}

footer p {

    text-align: center;
    color: #707070;
    font-size: 1.2rem;
    padding: 30px 0;
}





